
@media only screen and (max-width: 1920px) {
    .scroll-card {
        height: 1000px;
        overflow-y: auto;
    }
}
    
       
        
@media only screen and (max-width: 1360px) {
    .scroll-card {
        height: 500px;
        overflow-y: auto;
    }
        

}
.posatgens{
    height: 180px !important;
    margin-top: 40px;
  margin-bottom: 20px;
}
    
        
